<div class="table-responsive">
  <table class="table table-striped" data-ng-controller="TableCtrl" ng-init="module = 'users'" ng-model="Table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="row in rows">
        <td>{{ row.id }}</td>
        <td><a href="#" editable-text="row.lastName">{{ row.firstName }}</a></td>
        <td><a href="#" editable-text="row.email">{{ row.email }}</a></td>
      </tr>
    </tbody>
  </table>
</div>
