.animate-show {
    -webkit-transition:all linear 5s;
    transition:all linear 5s;
    height: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    line-height: 0 !important;
}
     
.animate-show.ng-hide {
    opacity: 0;
}